h1.cv {
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px grey;
  margin: 0;
}
.cv-part {
  display: flex;
  margin-bottom: 42px;

  h2.year {
    padding-right: 16px;
  }
  .year {
    width: 88px;
  }
  
  .content {
    margin-left: 16px;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.8px;
    padding-left: 16px;

    h2 {
      margin-bottom: 8px;
      font-size: 18px;
    }

    p {
      color: $subtitle-color;
      text-shadow: 1px 1px 1px rgba(white, 0.2);
      margin-bottom: 4px;
    }
  }
}

.cv {
  margin-top: 124px;
  background-size: 80%;
}

.cv-background {
  // background-image: url("https://res.cloudinary.com/siteasselin/image/upload/v1613137722/cv_background_blur.jpg");
  background-image: url("https://res.cloudinary.com/siteasselin/image/upload/v1618253592/cv.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: auto;
  z-index: 1;
}

.cv-filter {
  backdrop-filter: blur(10px);
}

.cv-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 32px;

  a {
    margin-left: 48px;
    color: $subtitle-color;
    text-decoration:underline;
    font-family: $primary-font;
    font-weight: bold;
  }
}