.home-background {
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}

.filters {
  display: flex;
  justify-content: space-between;
  background-color: $primary-background;

  padding-top: 36px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 36px;
  margin-right: -2px;
  margin-left: -2px;
  z-index: 9;
  
  a {
    
    color: $nav-items-color;
    font-family: $primary-font;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s all ease; 

    &:hover {
      opacity: 1;
      transition: 0.3s all ease; 
    }   
  }
}

.active {
  opacity: 1 !important;
}


@media(max-width: 576px) {

  .cv-background {
    background-position: right bottom 50%;
    background-size: cover;
  }

  .filters {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 0;

    a {
      font-size: 12px;
    }
  }
  .navbar-lewagon .subtitle {
  font-size: 11px !important;
  margin-bottom: 16px;
  }

  .nav-item a {
    margin-left: 0;
  }

  .project-card {
    height: 156px;

    .content {
      display: none;
    }
  }

  .details {
    text-align: center;
  }

  .project-details {
    flex-direction: column;
  }

  .artist {
    margin-left: 0;
  }


  .cv-title {
    flex-direction: column;
    
    h1.cv {
      margin-left: 0;
    }
  }

  .cv-title a {
    margin-left: 0;
  }

  .contact-background {
    background-position: left 50% top 20%;
    background-size: auto;
  }

  .home-background {
    background-position: left 4%;
    // background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1613143949/2_1_wtmrt3.jpg');
    background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1616593288/mobile_background.jpg');
  }

  .contact-content {
    margin-left: 0;
  }

  .title-cont {
    flex-direction: column;
  
    .subtitle {
      margin-left: 0;
      // color: black;
    }
  }
}

@media(min-width: 576px) {
  .home-background {
    background-size:cover;
    background-position: center;
    // 16:9
    background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1619716716/Fond_site_2_nlnkdc.jpg');
    // background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1619716987/Fond_site_xhtu52.jpg');
    // background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1618330906/home_background.jpg');
    // 2:35
    // background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1616591581/4_mblriw.jpg');
  }

  .contact-background {
    background-size: cover;
  }
} 