.home-background {
  // background-image: url("https://res.cloudinary.com/siteasselin/image/upload/v1611053542/vlc_2021-01-19_10-05-55_rhxsrj.jpg");
  height: 100vh;
  width: auto;
  background-position: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  background-color: $primary-background;

  padding-top: 48px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 48px;
  margin-right: -2px;
  margin-left: -2px;
  z-index: 9;
  
  a {
    
    color: $nav-items-color;
    font-family: $primary-font;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s all ease; 

    &:hover {
      // -webkit-text-stroke: 1px;
      opacity: 1;
      transition: 0.3s all ease; 
    }   
  }
}

.active {
  // -webkit-text-stroke: 1px;
  opacity: 1 !important;
}


@media(max-width: 576px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 0;

  }
  .navbar-lewagon .subtitle {
  font-size: 11px !important;
  margin-bottom: 16px;
  }

  .nav-item a {
    margin-left: 0;
  }

  .project-card {
    height: 156px;

    .content {
      opacity: 0.7;
      font-size: 1em;
    }
  }

  // .home-background img {
  //   height: 100%;
  //   width: 100hv;
  // }

  .project-details {
    flex-direction: column;
  }

  .artist {
    margin-left: 0;
  }


  .cv-title {
    flex-direction: column;
    
    h1.cv {
      margin-left: 0;
    }
  }

  .cv-title a {
    margin-left: 0;
  }

  .contact-background {
    background-position: center;
  }

  .home-background {
    background-position: left 61% top 7%;
  }

  .contact-content {
    margin-left: 0;
  }

  
}
