.home-background {
  background-image: url("https://res.cloudinary.com/siteasselin/image/upload/v1611053542/vlc_2021-01-19_10-05-55_rhxsrj.jpg");
  height: 100vh;
  z-index: 0;
}

.filters {
  margin: 48px 144px; 
  display: flex;
  justify-content: space-between;
  
  a {
    
    color: $nav-items-color;
    font-family: $primary-font;
    font-weight: $light-bold;
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.6;

    &:hover {
      // -webkit-text-stroke: 1px;
      opacity: 1;
      transition: 0.3s all ease; 
    }   
  }
}

.active {
  // -webkit-text-stroke: 1px;
  opacity: 1 !important;
}


@media(max-width: 576px) {
  .home-background {
    height: auto;
  }

  .filters {
    flex-direction: column;
    text-align: left;
    margin: 16px;
  }
}