.screenshot img {
  object-fit: contain;
  width: 100%;
  margin: 2em 0;
}

.arrow-back i {
  color: $primary-color;
}

.fa-trash {
  color: red;
}

.project-content {
  font-family: $primary-font;

  h1 {
    margin: 0.5em 0;
  }

  h2{
    margin: 1em 0;
  }
}