.first-image img {
  object-fit: contain;
  width: 100%;
  margin: 2em 0;
  margin-bottom: 16px;
}

.fa-trash {
  color: red;
}

.project-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  .bold {
    color: $primary-color;
    font-weight: bold;
  }

  p {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 19px;
    color: $subtitle-color;

    
  }

  @media (min-width: 577px) {
    
    .artist-details {
      display: flex;
      justify-content: space-between;
      
      .artist {
        margin-right: 24px;
      }
    }
    
    .prod-details {
      display: flex;
      justify-content: space-between;
      
      .prod {
        margin-left: 48px;
      }
    }
  }
}

.carousel {
  margin-bottom: 48px;
}

.carousel-item {
  font-size: 1px;
}