<div class="carousel-item ">
      <%= image_tag image_path, class:"d-block w-100", alt:"Third slide" %>
      <div class="carousel-caption d-none d-md-block">
        <p>ASSELIN GAUTHIER</p>
        <p>Director of photography</p>
          <div class="caption-index">
            <%= link_to "Music Videos", musicvideos_path, class: "nav-link" %>
            <%= link_to "Commercials", "#", class: "nav-link" %>
          </div>
      </div>
    </div>