<div class="container">
  <footer class="footer">
    <div class="title-cont">
      <h1 class="title">ASSELIN GAUTHIER</h1>
      <p class="subtitle">DIRECTOR OF PHOTOGRAPY / CHEF OPERATEUR</p>
    </div>
    <a href="https://www.instagram.com/asselin_g/" target="_blank"><i class="fab fa-instagram"></i></a>
  </footer>
    <p class="credits">made by MartinFesneau™</p>
</div>
