<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/asselin_g/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/asselin.gauthier" target="_blank"><i class="fab fa-facebook-f"></i></i></a>
    <a href="https://vimeo.com/asselingauthier" target="_blank"><i class="fab fa-vimeo-v"></i></a>
  </div>
  <p>made by Gecko1049™</p>
</div>