<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-center">
      <div class="contact-content">
        <h1 class="title">Contact</h1>
        <h3 class="title">06 11 48 07 99</h3>
        <h3 class="title">gauthier.asselin@gmail.com</h3>
        <h3 class="title">75011 PARIS</h3>
      </div>
      <div class="footer-links">
        <a href="https://www.instagram.com/asselin_g/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/asselin.gauthier" target="_blank"><i class="fab fa-facebook-f"></i></i></a>
        <a href="https://vimeo.com/asselingauthier" target="_blank"><i class="fab fa-vimeo-v"></i></a>
      </div>
    </div>
  </div>
</div>