<div class="contact-background" style="background-image: url('https://res.cloudinary.com/siteasselin/image/upload/v1616592211/contact_background.jpg')">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-center">
      <div class="contact-content">
        <a class="mail" href="mailto:gauthier.asselin@gmail.com">gauthier.asselin@gmail.com</a>
        <p class="">06 11 48 07 99</p>
        <p class="">75011 PARIS</p>
        <a href="https://www.instagram.com/asselin_g/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>