<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-center">
      <div class="contact-content mt-6">
        <h1 class="title">Contact</h1>
        <h3 class="title">06 11 48 07 99</h3>
        <h3 class="title">gauthier.asselin@gmail.com</h3>
        <h3 class="title">75011 PARIS</h3>
      </div>
    </div>
  </div>
</div>