<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12">
    <div class="background">
      <div class="cv">
      <div class="cv-title">
        <h1 class="cv">CURRICULUM VITAE</h1>
        <a href="https://res.cloudinary.com/siteasselin/image/upload/v1612187737/CV_Asselin_Gauthier.jpg" target="_blank" download>Télécharger le CV</a>
      </div>
      <div class="cv-part">
        <h2 class="year">2020</h2>
        <div class="border"></div>
        <div class="content">
          <h2>Chef Opérateur</h2>
          <p>“ READY FOR FOOTBALL “ ADIDAS, publicité / WhenWeWereKids Production / Réalisé par William S.Touitou</p>
          <p>“ ULTRABOOTS ” ADIDAS, publicité / Ocurens Production / Réalisé par Nathan Almeras</p>
          <p>“ CALISPORT ” PUMA, publicité / Ocurens Production / Réalisé par Nathan Almeras</p>
          <p>“ MOHA “ LACOSTE, publicité / Spoa Production / Réalisé par Marius Gonzalez</p>
          <p>“ BOOSKA “ RILES, clip / Dissidence Production / Réalisé par Nathan Almeras</p>
          <p>“ SI ON S’AIME “ ALOÏSE SAUVAGE, clip / Quad Production / Réalisé par Elisa Baudoin</p>
        </div>
      </div>

      <div class="cv-part">
        <h2 class="year">2019</h2>
        <div class="border"></div>
        <div class="content">
          <h2>Chef Opérateur</h2>
          <p>“ TRIGGER “ FORM, clip / Dissidence Production / Réalisé par Yanis & Mehdi Hamnane</p>
          <p>“ ME GUSTA ” DTF, clip / Dissidence Production / Réalisé par Yanis & Mehdi Hamnane, Cuba</p>
          <p>“ MERCUTIO ” SEAN, clip / Dissidence Production / Réalisé par Nathan Almeras</p>
          <p>“ RED IS DANCING ” THE VOICE, clip / The Voice Production TF1 / Réalisé par Valentin Plisson</p>
          <p>“ BURGER KING “ publicité / MyKitchenSociety Production / Réalisé par Brice Vassault</p>
          <p>“ MECHANT ” INSKA & NINHO, clip / Bandits Production / Réalisé par Liswaya</p>
        </div>
      </div>
      <div class="cv-part">
        <h2 class="year">2018</h2>
        <div class="border"></div>
        <div class="content">
          <h2>Chef Opérateur</h2>
          <p>“ JE SUIS UN LIEN ” / Nikon Film Festival / Réalisé par Kevin Fillinger</p>
          <p>“ PAS LES MÊMES ” - PLK / Dissidence Production / Réalisé par Rémi Danino</p>
          <p>“ DIS MOI OUI ” - PLK / Dissidence Production / Réalisé par Rémi Danino</p>
          <p>“ PLATINIUM ” - PLK / Dissidence Production / Réalisé par Rémi Danino</p>
          <p>“ AAA ” - PLK / Dissidence Production / Réalisé par Rémi Danino</p>
          <p>“ JAMAIS ” - Tessa / Dissidence Production / Réalisé par Rémi Danino</p>
          <p>“ SOURCILS FRONCÉS ” - Josman / Dissidence Production / Réalisé par Marius Gonzalez</p>
          <p>“ FALLAIT PAS RIGOLER ” - Hippocampe Fou / Alcibal Production / Réalisé par Victor Laborde</p>
          <p>“ MONSTERS ” court métrage / Magic Time Productions / Réalisé par Manon Gaurin</p>
          <p>“ GAME OVER ” publicité / Magic Time Productions / Réalisé par Manon Gaurin</p>
        </div>
      </div>
      <div class="cv-part">
        <h2 class="year">2017</h2>
        <div class="border"></div>
        <div class="content">
          <h2>Chef Opérateur</h2>
          <p>“ JE SUIS UN SOUVENIR ” / Nikon Film Festival / Réalisé par Kevin Fillinger</p>
          <p>“ VANILLE ” - Josman / Dissidence Production / Réalisé par Marius Gonzalez</p>
          <p>“ VICTOIRE ” court métrage / Des gens biens Production / Réalisé par Franck Victor</p>
          <p>“ ANDREA(S) ” court métrage / Des gens biens Production / Réalisé par Franck Victor</p>
          <p>“ LA BONNE ÉLÈVE ” court métrage / Des gens biens Production / Réalisé par Franck Victor</p>
          <p>“ BON APPÉTIT ” court métrage / Des gens biens Production / Réalisé par Franck Victor</p>
        </div>
      </div>
      <div class="cv-part">
        <h2 class="year">2015</h2>
        <div class="border"></div>
        <div class="content">
          <h2>Stagiaire Electricien</h2>
          <p>Série TF1 “SAM” / Chef éléctricien Mathieu Brémon</p>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>