<%= link_to project_path(project), class: "project-link" do  %>
  <div class="project-card" style="background-image: url('<%= cl_image_path project.photos.first.key %>'), linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));" data-aos="fade-up">
    <div class="content">
      <span><%= project.name.upcase %> / <%=  project.artist.upcase %></span>
    </div>
  </div>
<% end %>