.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  padding: 0px 50px;
  color: $primary-color;

  p {
    color: black;
  }
}
.footer-links {
  a {
  color: $primary-color;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.3s all ease;

    &:hover {
      // -webkit-text-stroke: 1px;
      transition: 0.3s all ease;
    }
  }
}

.footer-links:hover > a:not(:hover) {
  opacity: 0.6;
}
