.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
  }
}

.navbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-right: 24px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.navbar-content  {
  ul {
    margin-bottom: 0;
  }
  ul > li {
    display: inline-block;
  }

  a:hover {
    color: yellow;
  }
}
