.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 3;
}

.navbar-title {
  h1 {
    font-family: $primary-font;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline-block;
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 8px;
  }

  .subtitle {
    margin-bottom: 0;
    color: $subtitle-color;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 19px;
    font-weight: $light-bold;
    letter-spacing: 0;
  }
}

.navbar-content  {
  a {
    color: $primary-color;
    font-weight: $light-bold;
    font-family: $primary-font;
    font-size: 18px;
    line-height: 22px;
    color: $nav-items-color;
    text-decoration: none;
    transition: 0.3s all ease;
    letter-spacing: 1.17;

    &:hover {
      // -webkit-text-stroke: 1px;
      transition: 0.3s all ease;
    }
  }
  
}

.navbar-content:hover > a:not(:hover) {
  opacity: 0.6;
}
