.project-link {
  text-decoration: none !important;
}

.project-card {
  margin-bottom: 32px;
  height: 392px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content {
    text-align: right;
    font-family: $primary-font;
    font-weight: $light-bold;
    color: $primary-color;
    opacity: 0;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
    padding-top: 8px;
    padding-right: 8px;

    span {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
    &:hover .content {
      opacity: 0.7;
      transition: all 0.3s ease;	
    }
}
